*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    margin-top: 20%;
    color: #176bef;
}

.sub-container{
    margin-top: 1.2rem;

}

.set{
    margin-top: 0.6rem;
    display: flex;
    justify-content: center;
}

#alarmSubmit{
    margin-left: 0.4rem;
    background-color: #7d7d7d;
    font-size: 0.8rem;
    padding: 3px 8px;
    color: white;
}